*{
    box-sizing: border-box;
}
.projects {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    text-align: center;
    padding: 1em 1.5em;
    margin: 1em 0;
    width: 40vw;
    background-color: lightcyan;
    color: rgb(73, 11, 11);
}