* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    border: 1px dashed rgb(169, 172, 148);
    width: 60vw;
    padding: 1.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
h2{
    margin: 0;
    color: rgb(126, 128, 114);
    border-bottom: rgb(235, 235, 223) .35em solid;
}
.my-list{
    margin: 3em 0 1em;
    width: 80%;
    min-height: 20vh;
    background-color: rgb(246, 247, 239);
    padding: 1em;
}
#list {
    width: 50%;
}
.style {
    font-family: 'Montserrat', sans-serif;
}
.input {
    margin: 1em 0;
    display: block;
    font-size: .75rem;
    text-align: center;
    width: 80%;
    height: 5vh;
    border: 1px solid rgb(246, 247, 239);
    color: rgb(169, 172, 148);
}
.btn-wrapper {
    display: flex;
    flex-direction: column;
}
.btn {
    padding: .5em 1.5em;
    margin: .5em;
    background-color:rgb(235, 235, 223) ;
    border: none;
    transform: scale(1);
    transition: transfrom 250ms;
    text-transform: uppercase;
    font-size: .7rem;
    letter-spacing: .15em;
}
.btn:hover,
.btn:focus {
    cursor: pointer;
    transform: scale(1.05)
}
.toogle {
    margin: 1em;
}
.toogle-bg {
    border: .15em solid rgb(126, 128, 114);
    width: 1.5em;
    height: 1.5em;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    transform: scale(1);
    transition: transform 250ms;
}
.toogle-bg:hover,
.toogle-bg:focus {
    transform: scale(1.2);
  
}