* {
    box-sizing: border-box;
}
#supermarket-items,
#my-list{
    width: 50vw;
    background-color: pink;
    padding: 1em;
}

input {
    margin: 1em 0;
    display: block;
    font-size: .5rem;
    width: 50vw;
    height: 5vh;
}