.grid {
    width: 70vw;
    height: 20vh;
    background-color: lightblue;
    margin: 1em auto;
    padding: 1em;
}
body {
    margin: 0 auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}