body {
    background-color: black;
    margin: 0;
    font-family: 'Kanit', sans-serif;
    text-align: center;
}
/* ------POSITION-------- */
.robot-yellow {
    position: absolute;
    top: 350px;
    right: 50px;
}
.robot-red {
    position: absolute;
    top: 100px;
    left: 50px;
}
.food-up {
    position: absolute; 
    top: 150px;
}
.food-down {
    position: absolute; 
    top: 400px;
}

/* ------FOODS-------------- */

.snacks {
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
.dot {
    width: 20px;
    height: 20px;
    border-radius: 30px;
    background-color: white;
}

/* -----WORDS--------------- */
.word {
    color: white;
    font-size: 2rem;
    margin-top: 250px;
    letter-spacing: 20px;

}
/* ------PACMAN BODY-------- */
.torso {
    width: 100px;
    height: 100px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom: 7px black dashed;
}
.torso-robot-yellow {
    background-color: yellow;
}
.torso-robot-red {
    background-color: red;
}

.eyes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: deeppink; */
    padding: 30px 20px 0 20px;

}
.eye {
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 20px;
}
.mouth {
    width: 50px;
    height: 5px;
    background-color: black;
    margin:15px auto;
}